# Python virtual environment
venv/
.venv/
env/
venv128/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Streamlit
.streamlit/secrets.toml

# OS / editor junk
.DS_Store
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
